/* Empty. Add your own CSS if you like */

/* General
==================================*/

.item-md-label .hightlight-calm{
    background: #000;
}
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}
.hero-slide-back-background {
    background: white;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
}
.booking-addButton-style{
    background-color: white;
    padding: 25px;
    margin: 1px;
    border: 2px solid gray;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
}

h2.avatar span{
    position: absolute;
    top:  80%;
    left: 25%;
    font-size: 12px;
}
h2.avatar{
  margin-left: 20px;
  padding: 50px;
}
.avatar-align-center{
 margin: 0 auto;
 text-align: center;
}

/* Barber booking
==================================*/


.time-break{
    float: right
}


/* Login
==================================*/
.align-right {
       text-align: right;
}
.align-center {
    text-align: center;
}
.app-cover{
  background: url('../img/loginbg.jpg') center; background-size: cover;
}
.app-second-cover{
   background: url('../img/assets/bg.jpg') center; background-size: cover;
}
.app-third-cover{
   background: url('../img/assets/bg_1.jpg') center; background-size: cover;
}
.content-dasboard {
  background-color:rgba(0, 0, 0, 0.5);
}
.content-dasboard .button {
  color : white;
  width: 110px;
  height: 110px;
  padding: 0;
  line-height: 15px;
  font-size: 10px;
}

.item-avatar {
    color : white;
}

.add-booking {
    margin: 0 auto;
    text-align: center;
    color : white
}

.login-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.login-logo{
    width: 220px;
    margin:50px auto;
    text-align: center;
}

.login-logo h4{
    color:#fff;
    font-weight: normal;
}

.login-logo img{
    height: 100%;
    width:100%;
}
.darkbg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item-md-label{
    margin:0;
    padding: 0 10px;
}
.or-text{
    text-align: center;
    margin: 0;
    color:#fff;
}
.padding{
    padding:10px !important;
}

.scroll .list{
    margin-bottom: 0;
}

.loginpage .padding button{
    margin:0;
}

/* dashboard
==================================*/
.userName {
    position: absolute;
    top : 60%;
    left: 13%;
    font-size: 70%;
}
.side_Menu {
    margin : 10px;
}
.imageDashboard {
    border-radius: 100px;
}

.displayNone {
    display:  none;
}




/* barber Search List 
==================================*/

.barberList {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
}
.barberList2 {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
    height : 375px;
    overflow-y: scroll;
}

.upcommingAppointments {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
    height : 175px;
    overflow-y: scroll;
}
.upcommingAppointments2 {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
    height : 375px;
    overflow-y: scroll;
}
.revenue {
   background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
    height : 150px;
}
.reBooking {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    padding : 10px;
    text-align: center;
    height : 60px;
}

.upcommingAppointments2 button {
  
  font-size: 10px;
  text-align: center;
  margin: 0; 
  padding: 2;   

}
/* barberProfile 
==================================*/

.BarberEditProfile button {
 width : 85px;
}

.barberProfileMap {
   margin: 15px;
   height: 300px;
   background-color: gainsboro;
   color: gainsboro;
}
.barberProfile {
    background-color: white;
    border-radius:5px;
    margin: 15px;
    text-align: center;
}
.image {
   font-weight: bolder;
}
.image img {
    border-radius: 5px;
}
.image h4 {
     color : gray;
     font-weight: bold;
}
.navBar-BarberProfile{
    background: gainsboro;
    color : white;
    width: 100%;
    height : 25px;
    border-radius:2px;
}
.box-BarberProfile {
    padding : 10px;
    border-bottom: 3px solid gainsboro;
    color : gray;
}
.box-BarberProfile h5 a {
    color : gray;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
}
ul.rating li i {
  font-size: 30px;
}


/* barber reviews 
==================================*/
.barberProfileReviews {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
}
.bottom-gray {
    padding: 5px;
    border-bottom: 1px solid gainsboro;
    color : gray;
}

/* Barber EditBooking
==================================*/
.h4 {
    color: gray;
    padding: 0;
    margin: 10px;
}
.h6 {
    color: gray;
    padding: 0;
    margin: 10px;
}
.margin {
    color: gray;
    margin-top: 90px;
    padding: 0;
}

.barberProfileEdit {
    background-color: white;
    border-radius:2px;
    margin: 15px;
}



#map {
width: 100%;
height: 100%;
}



/* Barber booking
==================================*/
.barberBooking {
    background-color: white;
    border-radius:2px;
    margin: 15px;
    text-align: center;
}



/* Barber appointment
==================================*/
.item-input-inset .item-input-wrapper input {
    padding-left: 4px;
    height: 45px; 
    background: transparent;
    line-height: 18px;
}

.soflow-color {
   color: #fff;
   background-color: #387ef5;
   -webkit-border-radius: 200px;
   -moz-border-radius: 200px;
   border-radius: 200px;
   padding-left: 10px;
   width: 70px;
   height:50px;
   overflow: hidden;
}

.time-Selection span{
  margin: 2px;
  padding: 5px;
 
}
.time-Selection span button{
  color : white;
  width: 150px;
  height: 50px;
  margin: 2px;
  padding: 0;
  line-height: 15px;
  font-size: 12px;
}
.item{
  border-bottom:1px solid gray
  
}
.item-button-right .button{
  font-size: 12px;
  margin :2px;
}
.messageRed {
    padding: 2px;
    color : red
}
.messageGreen {
    padding: 2px;
    color : green
}

.barber-list .item-avatar p.bottom-gray{
  padding: 0 0 16px 0;
  text-transform: lowercase;
  font-size: 13px;
}

.barber-list .item{
  padding:16px 16px 0 72px;
}

.editImage{
    margin : 15px;
    padding : 15px;
    text-align: center;
    
}
.image-upload-button{
    position : absolute;
    top: 15px;
    left :200px;
}