<ion-view class="back-Image " view-title="Clyper">
<!--    <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
 -->   
  <ion-content class="app-cover">
    <div class="darkbg">
      <div class="login-logo">  
          <img src="../img/logo.png">
      </div>
      <div class="padding login-buttons">
          <button class="button button-full button-assertive ink"  ui-sref="customer">Customer</button>
          <button  class="button button-full button-positive ink"  ui-sref="barber"> Barber </button>
      </div>
    </div>
  </ion-content>
</ion-view>
